.first__cup{
    position: absolute;
    top: 7px;
    left: 299px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.second__cup{
    position: absolute;
    top: 7px;
    left: 675px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.third__cup{
    position: absolute;
    top: 7px;
    left: 1052px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.fourth__cup{
    position: absolute;
    top: 7px;
    left: 1429px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.first__thanks{
    position:fixed;
    padding: 10px;
    top: 239px;
    left: 248px;
    width: 300px;
    height: 65px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
    
}

.second__thanks{
    position:fixed;
    padding: 10px;
    top: 239px;
    left: 624px;
    width: 300px;
    height: 65px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
}

.third__thanks{
    position:fixed;
    padding: 10px;
    top: 239px;
    left: 1001px;
    width: 300px;
    height: 65px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
}

.fourth__thanks{
    position:fixed;
    padding: 10px;
    top: 239px;
    left: 1379px;
    width: 300px;
    height: 65px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
    
    }

.first__cup{
    position: absolute;
    top: 7px;
    left: 299px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.second__cup{
    position: absolute;
    top: 7px;
    left: 675px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.third__cup{
    position: absolute;
    top: 7px;
    left: 1052px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.fourth__cup{
    position: absolute;
    top: 7px;
    left: 1429px;
    width: 199px;
    height: 228px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.first__arrow{
    position: absolute;
    top: 64px;
    left: 352px;
    width: 100px;
    height: 100px;    
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.second__arrow{
    position: absolute;
    top: 64px;
    left: 727px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.third__arrow{
    position: absolute;
    top: 64px;
    left: 1108px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.fourth__arrow{
    position: absolute;
    top: 64px;
    left: 1482px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    display: inline-block;
    opacity: 1;
}

.first__id__name{
    position: fixed;
    top: 185px;
    left: 249px;
    width: 300px;
    height: 44px;
    text-align: center;
    font: normal normal bold 30px/44px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.second__id__name{
    position: fixed;
    top: 185px;
    left: 624px;
    width: 300px;
    height: 44px;
    text-align: center;
    font: normal normal bold 30px/44px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.third__id__name{
    position: fixed;
    top: 185px;
    left: 1001px;
    width: 300px;
    height: 44px;
    text-align: center;
    font: normal normal bold 30px/44px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    z-index: 1000;
}

.fourth__id__name{
    position: fixed;
    top: 185px;
    left: 1379px;
    width: 300px;
    height: 44px;
    text-align: center;
    font: normal normal bold 30px/44px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.first__collect{
    position:fixed;
    top: 239px;
    left: 249px;
    width: 300px;
    height: 48px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
}

.second__collect{
    position:fixed;
    top: 239px;
    left: 624px;
    width: 300px;
    height: 48px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
}

.third__collect{
    position:fixed;
    top: 239px;
    left: 1001px;
    width: 300px;
    height: 48px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
}

.fourth__collect{
    position:fixed;
    top: 239px;
    left: 1379px;
    width: 300px;
    height: 48px;
    color: #D83289;
    text-align: center;
    font: normal normal bold 20px/16px Source Han Sans JP;
    letter-spacing: 0px;
}